@mixin column($gap) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;
}
@mixin line($gap) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: $gap;
}
