.section-2_catalog {
  padding-top: 39px;
  height: $heightFilter;
  display: flex;
  gap: $gridGap;
  &__filter {
    width: $widthFilter;
    box-sizing: border-box;
    position: relative;
    z-index: 11;
    top: 39px;

    &[open] {
      fill: #fff;
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }
    &[open] .section-2_catalog__filter__heading {
      color: $colorSelectSite;
    }
    &[open] path {
      fill: $colorSelectSite;
    }
    &__summary {
      display: flex;
      align-items: center;
      gap: 11px;
      padding-left: 16px;
      cursor: pointer;
    }
    &__heading {
      color: $textColor;
      font-size: 14px;
      font-weight: 600;
      line-height: normal;
    }
    &__content {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      background-color: $colorBox;
      padding: 13px 16px 16px;

      &__item {
        &__heading {
          color: $colorFilterContent;
          font-size: 14px;
          font-weight: 400;
          line-height: normal;
          padding: 8px 11px 11px 11px;
          border-bottom: 1px solid $colorBorderDown;
          border-left: 5px solid $colorSelectSite;
        }
        &__link-box {
          display: flex;
          flex-direction: column;
          gap: 11px;
          padding: 24px 16px;
          &__link {
            color: $colorFilterContent;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
      &__item[open] .section-2_catalog__filter__content__item__heading {
        color: $colorSelectSite;
      }
    }
  }
  &__sort {
    display: flex;
    gap: 16px;
    padding-top: 37px;
    &__details {
      position: relative;
      cursor: pointer;
      &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
        &__text {
          color: $colorFilterContent;
          font-size: 14px;
          font-weight: 400;
          line-height: normal;
        }
      }
      &__sort-box {
        background: #fff;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 20px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        &__checkbox {
          display: flex;
          gap: 9px;
          align-items: center;
          color: $colorFilterContent;
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}

.section-3_catalog {
  display: grid;
  grid-template-columns: repeat(3, $thirdSite);
  grid-template-rows: repeat(3, 580px);
  gap: $gridGap;
  margin-bottom: 48px;
  &__product {
    width: $thirdSite;
    display: flex;
    flex-direction: column;
    &__content {
      background-color: $colorBackgroundCard;
      padding: 24px 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &__name {
      color: $textColor;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    &__name:hover {
      color: $colorBreadcrumpsHover;
    }
    &__text {
      color: $colorTextCard;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
    &__price {
      color: $colorSelectSite;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
