@import "../css/mixin";
@import "../css/vars";

.registration {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  align-items: flex-start;
  gap: 128px;
  &-left {
    // width: 36%;
    &__title {
      color: $colorBackBlock;
      font-size: 16px;
      font-weight: 300;
      line-height: normal;
    }
    &__wrap {
      display: flex;
      flex-direction: column;
      gap: 20px;
      &-name {
        margin-bottom: 34px;
      }
      &-gender {
        margin-bottom: 35px;
        display: flex;
        align-items: center;
        gap: 20px;
        color: $colorBackBlock;
        font-family: Lato;
        font-size: 11px;
        font-weight: 300;
        line-height: normal;
      }
      &-details {
        margin-bottom: 15px;
      }
    }
    &__input {
      color: $colorFormCart;
      font-size: 13px;
      font-weight: 300;
      line-height: normal;
      width: 100%;
      padding-top: 13px;
      padding-left: 17px;
      padding-bottom: 16px;
    }
    &__input:focus {
      outline: none;
      border: 1px solid $colorSelectSite;
    }
    &__gender {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &__info {
      margin-bottom: 39px;
      color: $colorFormCart;
      font-family: Lato;
      font-size: 13px;
      font-weight: 300;
      line-height: normal;
    }
    &__control {
      width: 167px;
      position: relative;
    }
    &__button {
      background-color: $colorSelectSite;
      color: $colorWhite;
      border: 1px solid $colorSelectSite;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      padding: 16px 66px 16px 29px;
      cursor: pointer;
      transition: background-color 1s;
    }
    &__button:hover {
      @include buttonHoverWhite;
    }
    &__button:hover ~ .registration-left__svg path {
      fill: $colorBackBlock;
    }

    &__svg {
      position: absolute;
      right: 0;
      right: 29px;
      top: 20px;
    }
  }
  &-right {
    // width: 65%;
    &__title {
      color: $textColor;
      font-size: 24px;
      font-weight: 300;
      line-height: normal;
      margin-bottom: 22px;
    }
    &__text {
      color: $textColor;
      font-size: 24px;
      font-weight: 300;
      line-height: normal;
      margin-bottom: 21px;
    }
    &__wrap {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &__benefit {
      color: $textColor;
      font-size: 24px;
      font-weight: 300;
      line-height: normal;
    }
    &__benefit::before {
      content: url(../img/arrow.svg);
      margin-right: 22px;
    }
  }
}

@media (max-width: 768px) {
  .registration {
    gap: 20px;
    &-right {
      width: 80%;
      &__title {
        font-size: 16px;
        margin-bottom: 32px;
      }
      &__text {
        font-size: 16px;
        margin-bottom: 21px;
      }
      &__benefit {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 375px) {
  .registration {
    flex-wrap: wrap;
    gap: 40px;
    &-right {
      width: 80%;
      &__title {
        font-size: 16px;
        margin-bottom: 32px;
      }
      &__text {
        font-size: 16px;
        margin-bottom: 21px;
      }
      &__benefit {
        font-size: 16px;
      }
    }
  }
}
