// color
$colorSelectSite: #f16d7f;
$ColorSelectSiteGrey: #838383;
$colorSelectSiteHover: #f88595;
$colorActivePink: rgb(234, 129, 129);
$colorActiveGrey: #4b4b4b;
$sectionBackground: #f1e4e6;
$colorBackBlock: #222;
$textColor: #000;
$subtitleTextColor: #9f9f9f;
$colorBreadcrumps: #636363;
$colorBreadcrumpsHover: #838383;
$colorBackgroundCard: #f8f8f8;
$colorBox: #fff;
$colorTextCard: #5d5d5d;
$colorFilterContent: #6f6e6e;
$colorBorderDown: #ebebeb;
$colorBorederItem: rgba(234, 234, 234, 1);
$colorNumberCart: #a4a4a4;
$colorWhite: #fff;
$colorFormCart: #b1b1b1;
$colorFormButtonCart: #4a4a4a;
$colorBoxCart: #f5f3f3;
$colorLine: #e2e2e2;
$colorTextCart: #4a4a4a;

// width
$siteWidth: 1140px;

$siteWidthTable: 736px;
$siteWidthMobile: 360px;
$widthFilter: 360px;

// height
$heightFilter: 132px;

// gap
$gridGap: 30px;
$gapHeader: 41px;
$thirdSite: ($siteWidth - $gridGap * 2)/3;
$halfSite: ($siteWidth - $gridGap)/2;

// indent

// font_size
$fontSizeSubtitleHeader: 24px;
$fontSizeBreadCrumps: 14px;
